[submodule "KubeNow"]
	path = KubeNow
	url = https://github.com/kubenow/KubeNow.git
[submodule "phenomenal-cloudflare"]
	path = phenomenal-cloudflare
	url = git@github.com:EMBL-EBI-TSI/phenomenal-cloudflare.git
